@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
	font-family: 'Open Sans';
	margin : 0;
	border: none;
	box-sizing: border-box;
}
.first-nav li, .second-nav li, .third-nav li, footer li {
	display: inline;
	list-style-type: none;
}
ul {
	padding: 0;
}
input[type=submit]:focus { 
	outline: none;
}
.wrapper {
	position: relative;
	width: 960px;
	height: 1100px;
	left: 0px;
	right: 0;
	top: 0px;
	margin: 0 auto;
}
nav, label, footer, textarea, p, input:not(.search-field):not(.search-button) {
	position: absolute;
}
.first-nav {
	font-size: 12px;
	top: 13px;
	left: 428px;
}
.first-nav li:nth-child(2) {
	margin-left: 39px;
}
.first-nav li:nth-child(3) {
	margin-left: 43px;
}
.first-nav li:nth-child(4), .first-nav li:nth-child(5)  {
	margin-left: 40px;
}
.first-nav a {
	color: rgb(87, 86, 86);
	text-decoration: none;
}
.second-nav {
	font-size: 12px;
	top: 56px;
	left: 10px;
}
.second-nav li:nth-child(1), .second-nav li:nth-child(7) {
	margin-right: 19px;
}
.second-nav li:nth-child(2), .second-nav li:nth-child(4) {
	margin-right: 25px;
}
.second-nav li:nth-child(3) {
	margin-right: 18px;
}
.second-nav li:nth-child(5), .second-nav li:nth-child(6) {
	margin-right: 22px;
}
.second-nav li:nth-child(8) {
	margin-right: 287px;
}
.second-nav a {
  	color: rgb(44, 44, 43);
	text-decoration: none;
}
.search-form {
	position: absolute;
	top: -12px;
	left: 688px;
	background-color: rgb(232, 229, 212);
}
.search-form img {
 	vertical-align: middle;
 	padding-left: 8px;
 	padding-bottom: 3px;
}
.search-field {
	margin-right: -3px;
	padding-left: 6px;
	width: 151px;
	height: 37px;
	background: none;
}
.search-button {
	width: 75px;
	height: 37px;
	background-color: rgb(239, 138, 128);
	cursor: pointer;
}
.third-nav {
	font-size: 11px;
	padding-left: 10px;
	padding-top: 15px;
	width: 960px;
	height: 45px;
	background-color: rgb(94, 94, 93);
	top: 90px;
}
.third-nav li:nth-child(1), .third-nav li:nth-child(4) {
	margin-right: 32px;
}
.third-nav li:nth-child(2) {
	margin-right: 31px;
}
.third-nav li:nth-child(3) {
	margin-right: 34px;
}
.third-nav a:hover {
	color: rgb(223, 133, 124);
	text-decoration: underline;
}
.third-nav a {
	color: white;
	text-decoration: none;
}
.section-title {
	font-size: 21px;
	color: rgb(87, 86, 86);
	top: 168px;
	left: 9px;
}
.section-comment {
	font-size: 14px;
	top: 227px;
	left: 11px;
}
.label-from {
	top: 276px;
	left: 12px;
}
#input-from {
	width: 460px;
	height: 37px;
	top: 301px;
	left: 11px;
	padding-left: 9px;
	background-color: rgb(243, 243, 240);
}
input::-webkit-input-placeholder {
	font-size: 13px;
	color: rgb(102, 102, 102);
}
.label-email {
	top: 369px;
	left: 12px;
}
#input-email {
	top: 396px;
	left: 11px;
	width: 460px;
	height: 37px;
	padding-left: 9px;
	background-color: rgb(243, 243, 240);
}
.label-to {
	top: 466px;
	left: 12px;
}
#input-to {
	top: 493px;
	left: 11px;
	padding-left: 8px;
	width: 460px;
	height: 37px;
	background-color: rgb(243, 243, 240);
}
.label-recipient {
	top: 563px;
	left: 11px;
}
#input-recipient {
	top: 590px;
	left: 11px;
	padding-left: 8px;
	width: 460px;
	height: 37px;
	background-color: rgb(243, 243, 240);
}
.faq {
	top: 676px;
	left: 11px;
	font-size: 14px;
	text-decoration: underline;
}
.label-voucher {
	top: 276px;
	left: 491px;
}
#select-parent {
	position: absolute;     
  	background-color: rgb(243, 243, 240); 
	top: 301px;
	left: 491px;
	width: 460px;
	height: 37px;
	overflow: hidden;
}
#select-parent select {
	padding-left: 9px;
	width: 480px;
	height: 37px;
	color: rgb(102, 102, 102);
	-webkit-appearance: none;
	-moz-appearance: none;       
	background: url('../images/arrow.png') no-repeat;     
  	background-position: 432px, 16px;
  	cursor: pointer;
}
.label-send {
	top: 369px;
	left: 491px;
}
#input-radio-now {
	top: 407px;
	left: 490px;
	width: 17px;
	height: 17px;
}
.label-radio-now {
	top: 404px;
	left: 512px;
}
.label-or {
	top: 404px;
	left: 586px;
}
#input-radio-choose {
	top: 407px;
	left: 669px;
	width: 17px;
	height: 17px;
}
.label-choose {
	top: 404px;
	left: 691px;
}
#input-day, #input-month, #input-year {
	top: 396px;
	width: 40px;
	height: 35px;
	padding-left: 9px;
	background-color: rgb(243, 243, 240);
}
#input-day {
	left: 780px;
}
#input-month {
	left: 830px;
}
#input-year {
	left: 880px;
}
.ui-datepicker-trigger {
	position: absolute;
	top: 405px;
	left: 931px;
	cursor: pointer;
}
.label-message {
	top: 466px;
	left: 492px;
}
#textarea-message {
	top: 493px;
	left: 491px;
	resize: none;
	width: 460px;
	height: 134px;
	background-color: rgb(243, 243, 240);
	padding-left: 9px;
	padding-top: 7px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	line-height: 1.5;
}
.button-preview {
	top: 669px;
	left: 673px;
	font-size: 14px;
	width: 98px;
	height: 37px;
	cursor: pointer;
	background-color: rgb(239, 138, 128);
}
.button-buy-gift {
	top: 669px;
	left: 781px;
	font-size: 14px;
	width: 170px;
	height: 37px;
	cursor: pointer;
	background-color: black;
	color: white;
}
.section-form label {
	font-size: 14px;
}
.label-sign-up {
	top: 774px;
	left: 10px;
}
#input-email-sign {
	background-color: rgb(232, 229, 212);
	color: rgb(87, 86, 86);
	width: 220px;
	height: 37px;
	top: 821px;
	left: 11px;
	padding-left: 15px;
}
#input-email-sign::-webkit-input-placeholder { 
	color: rgb(87, 86, 86);
	font-size: 11px;
}
.input-sign-up {
	font-size: 11px;
	width: 75px;
	height: 37px;
	top: 821px;
	left: 231px;
	background-color: rgb(239, 138, 128);
	cursor: pointer;
}
.label-follow-us {
	top: 884px;
	left: 11px;
}

.section-shortcut img {
	position: absolute;
}
.image-facebook {
	top: 923px;
	left: 10px;
}
.image-twitter {
	top: 923px;
	left: 50px;
}
.image-instagram {
	top: 923px;
	left: 90px;
}
.image-pinterest {
	top: 922px;
	left: 130px;
}
.section-shortcut label {
	font-size: 16px;
}
.label-navigation {
	top: 774px;
	left: 360px;
}
.label-service {
	top: 774px;
	left: 513px;
}
.label-company {
	top: 774px;
	left: 646px;
}
.label-contact {
	top: 774px;
	left: 760px;
}
.section-shortcut nav, p {
	font-size: 14px;
	color: rgb(102, 102, 102);
}
.section-shortcut a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
.section-shortcut li {
	list-style-type: none;
}
.nav-navigation {
	top: 813px;
	left: 361px;
}
.nav-navigation li:nth-child(1n+2){
	padding-top: 6px;
}
.nav-service {
	top: 812px;
	left: 513px;
}
.nav-service li:nth-child(1n+2), .nav-company li:nth-child(1n+2) {
	padding-top: 7px;
}
.nav-company {
	top: 812px;
	left: 647px;
}
.p-contact {
	top: 809px;
	left: 761px;
	line-height: 25px;
}
footer {
	top: 1040px;
	background-color: rgb(241, 241, 241);
	width: 960px;
	height: 70px;
	font-size: 12px;
  	color: rgb(87, 86, 86);
  	padding-left: 10px;
  	padding-top: 25px;
}
footer a {
	text-decoration: none;
  	color: rgb(87, 86, 86);
}
footer li:nth-child(1) {
	margin-right: 93px;
}
footer li:nth-child(2) {
	margin-right: 81px;
}
footer li:nth-child(3) {
	margin-right: 103px;
}
.image-cards {
	position: absolute;
	bottom: 15px;
	left: 736px;
}
.placeholder {
	font-size: 13px;
	color: rgb(102, 102, 102);
}


